*{
    margin: 0;
    text-align: center;
    background-color: grey;
   
}
h1{
 color: red !important ;
}
h1{
    color: blue;
}
.margin{
background-color: blue;
height: 150px;
width: 200px;
margin: 20px 40px;
}
.pa{
    background-color: red;
    height: 150px;
    width: 200px;
    padding: 50px;
    border: solid blue 2px;
}
.caja{
    background-color: rosybrown;
    margin:30px ;
    height: 150px;
    width: 200px;
    padding: 50px;
    border: solid 5px black;
    box-sizing: border-box;
}