*{
background-color: bisque;
}

.flex-container{
    width: 50vw;
    height: 50vh;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
}

.flex-item{
    background-color: blue;
    width: 15vw;
    height: 15vh;
    border: solid black 2px;
}